form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Inputfield{
        position: relative;
        width: 100%;
        height: 50px;
        overflow: hidden;

        input{
            border: none;
            outline: none;
            background: none;
            height: 100%;
            width: 100%;
            padding: 20px 0px 0px 0px;
            color: $textcolor;
        }

        label{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            border-bottom: 1px solid $textcolor;
        }

        label::after{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            border-bottom: 3px solid $textcolor;
            left: 0px;
            bottom: -1px;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }

        .labelcontent{
            position: absolute;
            bottom: 5px;
            left: 0px;
            transition: all 0.3s ease;
        }

        input:focus + label .labelcontent, input:valid + label .labelcontent{
            transform: translateY(-20px);
            font-size: 12px;
        }

        input:focus + label::after, input:valid + label::after{
            transform: translateX(0%);
        }
    }

    .inputinfo{
        width: 100%;
        font-size: 10px;
        margin: 5px 0px 5px 0px;
        color: rgba(216, 216, 216, 0.8);
    }

    button{
        outline: none;
        cursor: pointer;
        background: none;
        margin: 20px 0px 0px 0px;
        border: rgba(216, 216, 216, 0.8) solid 1px;
        color: $textcolor;
        width: 100px;
        height: 30px;
        border-radius: 15px;
    }

    button:hover{
        border: $textcolor solid 2px;
    }
}

.MuiSwitch-switchBase, .MuiSwitch-colorSecondary.Mui-checked{
    color: $textcolor;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track{
    background-color: rgb(27, 196, 27);
}