.Home{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "info transactions"
    ". .";
    z-index: 1;

    .Card{
        margin: 10px;
        padding: 10px;
        background: rgba(41, 43, 46, 0.8);
        color: $textcolor;

        .header{
            font-size: 24px;
            font-weight: bold;
            margin: 0px 0px 20px 0px;
        }
    }

    .infoCard{
        grid-area: info;
        height: fit-content;

        .label{
            font-size: 20px;
            margin: 0px 0px 5px 0px;
        }

        .value{
            text-align: right;
        }

        .container{
            margin: 0px 0px 10px 0px;
        }
    }
    
    .transactionsCard{
        grid-area: transactions;

        .Transaction{
            font-size: 14px;
            
            .row{
                display: flex;
                justify-content: space-between;
                margin: 0px 0px 5px 0px;
            }

            .amount{
                font-size: 16px;
                font-weight: bold;
            }
        }

        .abandoned{
            color: rgb(120, 120, 120);
        }
    }

    .seperator{
        height: 1px;
        width: 100%;
        background: rgb(120, 120, 120);
        margin: 5px 0px 10px 0px;
    }
}