.Home{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "info transactions"
    ". .";
    z-index: 1;

    .infoCard{
        grid-area: info;
        height: fit-content;

        .label{
            font-size: 20px;
            margin: 0px 0px 5px 0px;
        }

        .value{
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-weight: bold;
            letter-spacing: 1px;

            .Coin{
                margin: 0px 0px 0px 5px;
            }
        }

        .container{
            margin: 0px 0px 10px 0px;
        }
    }
    
    .transactionsCard{
        grid-area: transactions;

        .Transaction{
            font-size: 14px;
            
            .row{
                display: flex;
                justify-content: space-between;
                margin: 0px 0px 5px 0px;
            }

            .send{
                color: #f44336;
            }

            .amount{
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
            }

            button{
                background: none;
                outline: none;
                border: none;
                color: $textcolor;
                cursor: pointer;
            }

            .MuiTooltip-popper{
                white-space: pre-wrap;

                .MuiTooltip-tooltip, .MuiTooltip-arrow::before{
                    background-color: rgba(41, 43, 46, 1);
                }
            }
        }

        .abandoned{
            color: rgb(120, 120, 120);
        }
    }

    .seperator{
        height: 1px;
        width: 100%;
        background: rgb(120, 120, 120);
        margin: 5px 0px 10px 0px;
    }
}