.Receive{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0px 0px 10% 0px;
    z-index: 1;

    .Card{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5% 0px 5% 0px;
        
        .formWrapper{
            width: 60%;
        }

        #qrcode{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 0px 5% 0px 5%;
            margin: 20px 0px 0px 0px;

            button{
                position: absolute;
                right: 0px;
                top: 0px;
                outline: none;
                border: none;
                background: none;
                color: $textcolor;
                cursor: pointer;
                transform: translate(50%, -50%);
            }

            .header{
                font-size: 20px;
            }

            .address{
                font-size: 12px;
            }

            *{
                margin: 10px 0px 0px 0px;
            }
        }
    }
}
