$textcolor: rgb(216, 216, 216);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $textcolor;
}

.App{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sidebar .";
    background: linear-gradient(60deg, transparent 20%, rgba(255, 255, 255, 0.2));
    background-color: #af893c;
    overflow: hidden;

    .doge-svg{
        position: absolute;
        left: 15vw;
        bottom: 0px;
        width: 248.9px;
        height: 264.1px;
    }

    @import '__sidebar';
    @import '__form';
    @import '__home';
    @import '__send';
    
}