* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #e6e6e6;
}

.App {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15vw 85vw;
      grid-template-columns: 15vw 85vw;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "sidebar .";
  background: linear-gradient(60deg, transparent 20%, rgba(255, 255, 255, 0.2));
  background-color: #af893c;
  overflow: hidden;
}

.App .doge-svg, .App .doge-svg-dark {
  position: absolute;
  left: 15vw;
  bottom: 0px;
  width: 248.9px;
  height: 264.1px;
  margin: 0px 0px 10px 0px;
}

.App .doge-svg {
  display: none;
}

.App .Coin {
  width: 15px;
  height: 15px;
}

.App .Card {
  margin: 10px;
  padding: 10px;
  background: rgba(41, 43, 46, 0.8);
  color: #e6e6e6;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.App .Card .header {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
}

.App .InfoCard {
  position: absolute;
  width: 85vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(15vw);
          transform: translateX(15vw);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: 2;
}

.App .InfoCard .Card {
  width: 80%;
  height: 80%;
  background: #292b2e;
}

.App .InfoCard .Card button {
  background: none;
  outline: none;
  border: none;
  color: #e6e6e6;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.App .InfoCard .Card h1 {
  margin: 0px 0px 10px 0px;
}

.App .InfoCard .Card .info {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .InfoCard .Card .info div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 5px 0px;
}

.App .InfoCard .Card .info div .label {
  width: 50%;
  font-weight: bold;
}

.App .hidden {
  display: none;
}

.App .skeleton {
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(41, 43, 46, 0.4);
  z-index: 1;
}

.App .snackbar {
  position: absolute;
}

.App .Sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #292b2e;
}

.App .Sidebar .NavLinks {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Sidebar .NavLinks .NavLink {
  color: #e6e6e6;
  width: 100%;
  height: 15%;
  padding: 0px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.App .Sidebar .NavLinks .NavLink button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #e6e6e6;
  font-size: 14px;
  font-weight: bold;
  display: none;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.App .Sidebar .NavLinks .NavLink svg {
  position: absolute;
  color: #e6e6e6;
  width: 25px;
  height: auto;
  margin: 0px 20px 0px 0px;
}

.App .Sidebar .NavLinks .NavLink:hover, .App .Sidebar .NavLinks .active {
  background: rgba(0, 0, 0, 0.2);
}

.App .Sidebar button {
  outline: none;
  border: none;
  background: none;
  color: #e6e6e6;
}

.App .Sidebar .info {
  cursor: pointer;
}

.App form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App form .Inputfield {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.App form .Inputfield input {
  border: none;
  outline: none;
  background: none;
  height: 100%;
  width: 100%;
  padding: 20px 0px 0px 0px;
  color: #e6e6e6;
}

.App form .Inputfield label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #e6e6e6;
}

.App form .Inputfield label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #e6e6e6;
  left: 0px;
  bottom: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.App form .Inputfield .labelcontent {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.App form .Inputfield input:focus + label .labelcontent, .App form .Inputfield input:valid + label .labelcontent {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
}

.App form .Inputfield input:focus + label::after, .App form .Inputfield input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.App form .inputinfo {
  width: 100%;
  font-size: 10px;
  margin: 5px 0px 5px 0px;
  color: rgba(216, 216, 216, 0.8);
}

.App form #switch {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  z-index: 1;
}

.App form .switch-label {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  width: 40px;
  height: 20px;
  border: 1px solid #eeeeee;
  background-color: transparent;
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.App form .switch-label:after {
  content: '';
  position: absolute;
  left: 1px;
  top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
}

.App form #switch:checked + .switch-label {
  background-color: #42d77d;
}

.App form #switch:checked + .switch-label:after {
  left: 21px;
}

.App form button {
  outline: none;
  cursor: pointer;
  background: #af893c;
  margin: 20px 0px 0px 0px;
  border: none;
  -webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.2), 4px 0px 10px 0px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.2), 4px 0px 10px 0px rgba(0, 0, 0, 0.19);
  color: rgba(0, 0, 0, 0.8);
  width: 100px;
  height: 30px;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.App form button:hover {
  color: #e6e6e6;
}

.App .MuiSwitch-switchBase, .App .MuiSwitch-colorSecondary.Mui-checked {
  color: #e6e6e6;
}

.App .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #1bc41b;
}

.App .Home {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "info transactions" ". .";
  position: relative;
  z-index: 1;
}

.App .Home .infoCard {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.App .Home .infoCard .label {
  font-size: 20px;
  margin: 0px 0px 5px 0px;
}

.App .Home .infoCard .value {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
  letter-spacing: 1px;
}

.App .Home .infoCard .value .Coin {
  margin: 0px 0px 0px 5px;
}

.App .Home .infoCard .container {
  margin: 0px 0px 10px 0px;
}

.App .Home .transactionsCard {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: transactions;
}

.App .Home .transactionsCard .Transaction {
  font-size: 14px;
}

.App .Home .transactionsCard .Transaction .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 5px 0px;
}

.App .Home .transactionsCard .Transaction .send {
  color: #f44336;
}

.App .Home .transactionsCard .Transaction .amount {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.App .Home .transactionsCard .Transaction button {
  background: none;
  outline: none;
  border: none;
  color: #e6e6e6;
  cursor: pointer;
}

.App .Home .transactionsCard .Transaction .MuiTooltip-popper {
  white-space: pre-wrap;
}

.App .Home .transactionsCard .Transaction .MuiTooltip-popper .MuiTooltip-tooltip, .App .Home .transactionsCard .Transaction .MuiTooltip-popper .MuiTooltip-arrow::before {
  background-color: #292b2e;
}

.App .Home .transactionsCard .abandoned {
  color: #787878;
}

.App .Home .seperator {
  height: 1px;
  width: 100%;
  background: #787878;
  margin: 5px 0px 10px 0px;
}

.App .Home .snackbar {
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.App .Send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 10% 0px;
  position: relative;
}

.App .Send .Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  width: 70%;
  padding: 5% 0px 5% 0px;
}

.App .Send .formwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.App .Send .formwrapper .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 10% 0px;
  margin: 0px 10px 0px 0px;
}

.App .Send .formwrapper form {
  width: 100%;
}

.App .Send .formwrapper form button {
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
}

.App .Receive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0px 0px 10% 0px;
  z-index: 1;
}

.App .Receive .Card {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5% 0px 5% 0px;
}

.App .Receive .Card .formWrapper {
  width: 60%;
}

.App .Receive .Card #qrcode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0px 5% 0px 5%;
  margin: 20px 0px 0px 0px;
}

.App .Receive .Card #qrcode button {
  position: absolute;
  right: 0px;
  top: 0px;
  outline: none;
  border: none;
  background: none;
  color: #e6e6e6;
  cursor: pointer;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.App .Receive .Card #qrcode .header {
  font-size: 20px;
}

.App .Receive .Card #qrcode .address {
  font-size: 12px;
}

.App .Receive .Card #qrcode * {
  margin: 10px 0px 0px 0px;
}

.App .Transactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

.App .Transactions .Card {
  height: 90vh;
  width: 90%;
  max-width: 650px;
}

.App .Transactions .Card .transactionsWrapper {
  height: 100%;
  overflow: scroll;
  padding: 10px 0px 50px 0px;
}

.App .Transactions .Card .transactionsWrapper .Transaction {
  font-size: 14px;
}

.App .Transactions .Card .transactionsWrapper .Transaction .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 5px 0px;
}

.App .Transactions .Card .transactionsWrapper .Transaction .send {
  color: #f44336;
}

.App .Transactions .Card .transactionsWrapper .Transaction .amount {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.App .Transactions .Card .transactionsWrapper .Transaction button {
  background: none;
  outline: none;
  border: none;
  color: #e6e6e6;
  cursor: pointer;
}

.App .Transactions .Card .transactionsWrapper .Transaction .MuiTooltip-popper {
  white-space: pre-wrap;
}

.App .Transactions .Card .transactionsWrapper .Transaction .MuiTooltip-popper .MuiTooltip-tooltip, .App .Transactions .Card .transactionsWrapper .Transaction .MuiTooltip-popper .MuiTooltip-arrow::before {
  background-color: #292b2e;
}

.App .Transactions .Card .transactionsWrapper .abandoned {
  color: #787878;
}

.App .Transactions .Card .transactionsWrapper .seperator {
  height: 1px;
  width: 100%;
  background: #787878;
  margin: 5px 0px 10px 0px;
}

.App .Transactions .snackbar {
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.App .Settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 10% 0px;
  position: relative;
}

.App .Settings .Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  width: 70%;
  padding: 5% 0px 5% 0px;
}

.App .Settings .Card form {
  width: 80%;
}

.App .Settings .Card form h1 {
  margin: 0px 0px 20px 0px;
}

.App .Settings .Card form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.App .Settings .Card form div input {
  outline: none;
  border: none;
  color: #e6e6e6;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}
/*# sourceMappingURL=index.css.map */