@font-face {
    font-family: 'Poppins';
    src: url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
}

$textcolor: rgba(30, 30, 30, 1);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: $textcolor;
}

.App{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "menu ."
    "menu .";

    .Menu{
        grid-area: menu;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .NavLinks{
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .NavLink{
                color: $textcolor;
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                button{
                    outline: none;
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }
        }
    }
}